.PageWrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 25px;
  padding-right: 25px;
}

.Page {
  margin-top: 40px;
}

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.HeaderWrapper {
  background-color: lavender;
  padding: 20px 0;
}

.Header > h1 {
  font-size: 30px;
}

.Header nav a {
  color: black;
  font-size: 16px;
  margin: 0 5px;
  padding: 0 5px;
  text-decoration: none;
}

.Form form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px;
}

.Form input {
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.Form button {
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.PostCard {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  max-width: 700px;
  padding: 10px;
}

.PostCardText {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}

.PostTitle {
  font-weight: bolder;
  margin: 5px;
}

.PostTitle a {
  text-decoration: none;
}

.LogOutButton {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  padding-left: 10px;
}

.Posts {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.UserPosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.UserPosts > div {
  margin: 15px;
  max-width: 350px;
}

.ViewButtonDiv {
  border-radius: 15px;
  background-color: lightgray;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

.ViewButton {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.PostMessage {
  padding: 10px 5px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}
